.preguntas{
    color: black;
    display: flex;
    justify-content: center;
    background-color: steelblue;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    h1{
        margin-bottom: 0;
    }
}

.accordion-item button{
    font-size: 22px;
}
.spanContact{
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section span{
    color: white;
    font-size: 28px;
    padding: 3px 12px 3px 12px;
    margin-right: 6px;
    border: 3px solid black;
    border-radius: 15px;
}

.form-section{
    background-color: midnightblue;
    display: flex;
    border-top: 4px solid black;
    width: auto;
}
.form{
    width: 420px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: steelblue;
    h2{
        color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    }
}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
textarea{
    min-height: 150px;
    max-height: 250px;
    max-width: 100%;
}